## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/packages/*

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## User secrets
secrets.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## ASP.NET
appsettings.Development.json

